# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
monitor
.history

# 历史记录文件
history.txt

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.claude/
*.html

# OS
.DS_Store
Thumbs.db

monitor.db
monitor.db-shm
monitor.db-wal
